<footer style="background-color: black; color:honeydew">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer-about-us">
                        <br>
                        <div><img class="logo" src="../../../assets/img/logo.png" style="height:150px; width:150px;"><br><br></div>
                        <p>This is an easy shopping Application developed by M.A.A.D.S. from FS-NGT Capgemini 2021.<br> You can shop here and find excellent deals! So, grab the offer today!<br>
                            Excellent Discounts | Astonishing Offers | Quality Products | Excellent Customer Service<br>
                            Secured Shopping | Grab Offers from Best Companies
                            </p>
                    </div>
                </div>
                
                
                <div class="col-md-6 col-sm-6">
                    <br><br><br>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>          
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="footer-newsletter">
                        <br>
                        <h2 class="footer-wid-title">Newsletter</h2>
                        <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                        <div class="newsletter-form">
                            <form action="#">
                                <input type="email" placeholder="Type your email">
                                <input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->
    
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <br>
                        <br>
                        <p>&#169; FS-NGT 2021. M.A.A.D.S. All Rights Reserved.</p>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End footer bottom area -->
