<header>
    <app-admin></app-admin>
</header>

<div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>


<div *ngIf="updateDiv"> 
    <Div class="mt-2 text-center" ><H1 >Update Category</H1> </Div>
  
    <form #frm="ngForm" id="category" (ngSubmit)="updateCategory()">
        
        <div>Category Name</div>
        <div><input type="text" name="name" [(ngModel)]="modifyCategory.categoryName" required #categoryName="ngModel" class="form-control"/></div>
        <div class="alert alert-danger" *ngIf="categoryName.invalid && categoryName.touched"> Customer Name is required</div>

        <div class="mt-2 text-center">
            <input type="submit" value="update Category" [disabled]="!frm.valid" class="btn btn-danger"/> 
            <button type="button" (click)="cancel()" value="Cancel"   class="btn btn-success">Cancel</button>
        </div>
       
    </form>
</div>

<div  *ngIf="!updateDiv"> 
    <div class="mt-2 text-center" ><h1>View All Category</h1> </div>
  
    <table id="category" >

        <tr>
            <th> Category Id</th>
            <th>Category Name</th>
            <th>Operations</th>
            
        </tr>
        <tr *ngFor="let category of categories">
            <td>{{category.catId}}</td>
            <td>{{category.categoryName | titlecase}}</td>
            
            <td>
                <button  (click)="update(category)" value="Update" class="btn2">Update</button>
                <button type="button" (click)="deleteCategory(category.catId)" value="Delete"  class="btn3">Delete</button>
            </td>
        </tr>
    </table> 
</div>
