<h1>Welcome {{cust.firstName}}</h1>
      <p>You Can Update Your Profile!</p>
      <hr>
<form #CustomerForm='ngForm' action="">
    <div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
  <div class="container">

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" [(ngModel)]="cust.email" #email="ngModel" email readonly>

      <label><b>First Name</b></label>
      <input type="text" placeholder="Enter Your First Name" name="first_name" id="first_name" [(ngModel)]="cust.firstName" #first_name="ngModel" pattern="[a-zA-Z]*" required>
      <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)" class="alert alert-danger">
          <div *ngIf="first_name.errors?.required" class="alert alert-danger">
              First Name is required
          </div>
          <div *ngIf="first_name.errors?.pattern" class="alert alert-danger">
              First Name contain only characters
          </div>
      </div>

      <label><b>Last Name</b></label>
      <input type="text" placeholder="Enter Your Last Name" name="last_name" id="last_name" [(ngModel)]="cust.lastName" #last_name="ngModel" pattern="[a-zA-Z]*" required>
      <div *ngIf="last_name.invalid && (last_name.dirty ||last_name.touched)" class="alert alert-danger">
          <div *ngIf="last_name.errors?.required" class="alert alert-danger">
              Last Name is required
          </div>
          <div *ngIf="last_name.errors?.pattern" class="alert alert-danger">
              Last Name contain only characters
          </div>
      </div>

      <label><b>Contact Number</b></label>
      <input type="text" placeholder="Enter Your Contact Number" name="mobile_number" id="mobile_number" [(ngModel)]="cust.mobileNumber" #moblie_number="ngModel" pattern="[6-9][0-9]*" minlength="10" maxlength="10" required>
      <div *ngIf="moblie_number.invalid && (moblie_number.dirty ||moblie_number.touched)" class="alert alert-danger">
          <div *ngIf="moblie_number.errors?.required" class="alert alert-danger">
              moblie number is required.
          </div>
          <div *ngIf="moblie_number.errors?.minlength || moblie_number.errors?.maxlength" class="alert alert-danger">
              moblie number must be 10 digits
          </div>
          <div *ngIf="moblie_number.errors?.pattern" class="alert alert-danger">
              moblie number must start with 6 - 9
          </div>
      </div>
      <hr>
      <div class="mt-2 text-center">
      <button type="submit" class="registerbtn" [disabled]="!CustomerForm.form.valid" (click)="updateCustomer();" class="btn btn-danger" >Update Profile</button>
    </div>
    </div>
</form>

<form #AddressForm='ngForm' action="">
    <div class="alert alert-success" *ngIf="msg2 !=undefined"> {{msg2}}</div>
    <div class="alert alert-danger" *ngIf="errorMsg2 != undefined">{{errorMsg2}}</div>
  <div class="container">
      <label><b>Building Name</b></label>
      <input type="text" placeholder="Enter Your Locality (Mention House no.)" name="building_name" id="building_name" [(ngModel)]="modifyAddress.buildingName" #building_name="ngModel" required>
      <div *ngIf="building_name.invalid && (building_name.dirty ||building_name.touched)" class="alert alert-danger">
          <div *ngIf="building_name.errors?.required" class="alert alert-danger">
              Please enter your building name
          </div>
      </div>

      <label><b>Street Number</b></label>
      <input type="text" placeholder="Enter Your Street Number" name="street_number" id="street_number" [(ngModel)]="modifyAddress.streetNo" #street_no="ngModel" pattern="[a-zA-Z1-9][a-zA-Z0-9/]*" required>
      <div *ngIf="street_no.invalid && (street_no.dirty ||street_no.touched)" class="alert alert-danger">
          <div *ngIf="street_no.errors?.required" class="alert alert-danger">
              Please enter your street number
          </div>
          <div *ngIf="street_no.errors?.pattern" class="alert alert-danger">
              Invalid street number
          </div>
      </div>

      <label><b>City</b></label>
      <input type="text" placeholder="Enter Your City" name="city" id="city" [(ngModel)]="modifyAddress.city" #city="ngModel" pattern="[a-zA-Z]*" required>
      <div *ngIf="city.invalid && (city.dirty ||city.touched)" class="alert alert-danger">
          <div *ngIf="city.errors?.required" class="alert alert-danger">
              City name is required.
          </div>
          <div *ngIf="city.errors?.pattern" class="alert alert-danger">
              City name must not contain any digits.
          </div>
      </div>

      <label><b>State</b></label>
      <input type="text" placeholder="Enter Your State" name="state" id="state" [(ngModel)]="modifyAddress.state" #state="ngModel" pattern="[a-zA-Z ]*" required>
      <div *ngIf="state.invalid && (state.dirty ||state.touched)" class="alert alert-danger">
          <div *ngIf="state.errors?.required" class="alert alert-danger">
              State name is required.
          </div>
          <div *ngIf="state.errors?.pattern" class="alert alert-danger">
              State name must not contain any digits.
          </div>
      </div>

      <label><b>Pin</b></label>
      <input type="text" placeholder="Enter Your Pin" name="pin" id="pin" [(ngModel)]="modifyAddress.pincode" #pin="ngModel" pattern="[1-9][0-9]*" minlength="6" maxlength="6" required>
      <div *ngIf="pin.invalid && (pin.dirty ||pin.touched)" class="alert alert-danger">
          <div *ngIf="pin.errors?.required" class="alert alert-danger">
              Pin number is required.
          </div>
          <div *ngIf="pin.errors?.minlength || pin.errors?.maxlength" class="alert alert-danger">
              Pin number must be 6 digits
          </div>
          <div *ngIf="pin.errors?.pattern" class="alert alert-danger">
              Pin number must contain only numbers and doesn't start from 0
          </div>
      </div>

      <label><b>Country</b></label>
      <input type="text" placeholder="Enter Your Country" name="country" id="country" [(ngModel)]="modifyAddress.country" #country="ngModel" pattern="[a-zA-Z]*" required>
      <div *ngIf="country.invalid && (country.dirty ||country.touched)" class="alert alert-danger">
          <div *ngIf="country.errors?.required" class="alert alert-danger">
              Country name is required.
          </div>
          <div *ngIf="country.errors?.pattern" class="alert alert-danger">
              Country name must not contain any digits.
          </div>
      </div> 
      <hr>
      <div class="mt-2 text-center">
        <input type="submit" value="Update Address" [disabled]="!AddressForm.valid" (click)="UpdateAddress()" class="btn btn-danger" />
    </div>
    </div>
</form>