<div class="page-wrapper">
<body style="margin-left: auto; margin-right: auto; overflow-wrap: hidden;" class="content-wrapper">
    <div id="slider">
        <figure>
            <img src="../../../assets/img/2.png">
            <img src="../../../assets/img/1.png">
            <img src="../../../assets/img/3.png">
            <img src="../../../assets/img/2.png">
            <img src="../../../assets/img/1.png">
        </figure>
    </div>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col">
                <div class="card h-100 shadow-sm"> <img style="height:190px;width:190px; margin-left: 50px;" src="../../../assets/img/rog1.jpg" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> <span class="float-end price-hp">INR 1,40,000</span> </div>
                        <h5 class="card-title">
                            ROG Zephyrus Duo 15SE
                            Radeon™ RX 6800M<br>
                            Windows 10 Pro<br>
                            AMD Ryzen™ 9 5000 Series<br>
                            17.3"<br>
                            1TB M.2 NVMe™ PCIe® 3.0 SSD</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Offers! Coming Soon</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="../../../assets/img/lenovo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">INR 48,000</span></div>
                        <h5 class="card-title">	
                            Lenovo Ideapad 3-15IILO5
                            Lenovo Ideapad 330 Core i5 8th Gen -<br> (8 GB/1 TB HDD/DOS/2 GB Graphics) 330-15IKB (15.6 inch)<br>
                            Operating System (With Version)	:	DOS<br>
                            Laptop Type	:	Notebook</h5>
                        <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">Offers Coming Soon!</a> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="../../../assets/img/rog2.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">Asus Rog</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">INR 2,10,000</span> <span class="float-end"><a href="#" class="small text-muted">Reviews</a></span> </div>
                        <h5 class="card-title">
                            Asus ROG Strix scar SCARII
                            GeForce RTX™ 3080 Laptop GPU<br>
                            Windows 10 Pro<br>
                            AMD Ryzen™ 9 5000 Series<br>
                            17.3"<br>
                            1TB + 1TB M.2 NVMe™ PCIe® 3.0 Performance RAID0 SSD</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Exclusive Offers Coming Soon!</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 shadow-sm"> <img src="../../../assets/img/dell.jpg" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">DELL</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start price-hp">INR 50,000</span> <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span> </div>
                        <h5 class="card-title">
                            Dell Inspiron 15
                            Pre-installed Genuine Windows 10 OS<br>
                            Preloaded with MS Office<br>
                            Light Laptop without Optical Disk Drive<br>
                            15.6 inch Full HD LED Backlit Anti-glare Display</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Exciting Offers Coming Soon!</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    </body>

<div style="flex-grow:0;">
    <app-footer></app-footer>
</div>

</div>