  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .buttons {
    margin: 10%;
    text-align: center;
  }
  
  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
  
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    outline: none;
  }
  
  
  .backbtn{
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
    color: black;
  }
  
  .ratings i {
    font-size: 16px;
    color: red
  }
  
  .strike-text {
    color: red;
    text-decoration: line-through
  }
  
  .product-image {
    width: 100%
  }
  
  .dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
  }
  
  .spec-1 {
    color: #b80d24;
    font-size: 20px
  }
  
  h5 {
    font-weight: 400
  }
  
  .para {
    font-size: 16px
  }
  ngb-rating {
    color: #FFC107;
    font: 20px;
  }
  
  